
{% extends "admin/layout.html" %}
{% block head %}
    {{ super() }}
    
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
    
 {% endblock head %}

{% block content%}
<section>
    <div class="row p-4">
        <div class="col-lg-9 col-md-8 col-sm-7  ">
            <div class=" "><h4 class="pl-3 pt-4 mb-1 " style="color: grey">Select Blog To Update</h4></div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-5">
            <a class="btn btn-info ml-5 mt-4 mb-1" style="border-radius: 50px" href="{{url_for('admin.new_blog')}}"><small>ADD BLOG</small><i class="fas fa-plus fa-lg pl-2"></i></a>
        </div>
    </div>
    
        
    </div>
</section>
<div class="fluid-container px-5 py-3">
    <table id="table_id" class="display">
    <thead>
        <tr>
            <th style="width: 60%">Title</th>
            <th style="width: 18%">Posted Date</th>
            <th style="width: 11%">Delete</th>
            <th style="width: 11%">Edit</th>
            
        </tr>
    </thead>
    <tbody>
        {% for blog in blogs %}
        <tr>
            <td><a  href="{{url_for('admin.blog', blog_id=blog.id)}}" ><strong >{{blog.title}}</strong></a></td>
            <td>{{blog.posted_date}}</td>
            <td><a style="color: black" href="{{url_for('admin.delete_blog', blog_id=blog.id)}}"><i class="fas fa-trash fa-2x pl-3 " style="color: black"></i></a></td>
            <td><a style="color: black" href="{{url_for('admin.blog', blog_id=blog.id)}}"><i class="fas fa-pencil-alt fa-2x pl-3" style="color: black"></i></a></td>
        </tr>

        {%endfor%}
    </tbody>
</table>
</div>
{% endblock %}

{% block script%}
{{ super() }}
<script>
    $(document).ready( function () {
    $('#table_id').DataTable();
} );
</script>
{% endblock %}

