
{% extends "admin/layout.html" %}
{% block head %}
    {{ super() }}
    
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
  
 {% endblock head %}

{% block content%}
<section>
    <div class="row p-4">
        <div class="col-lg-9 col-md-8 col-sm-7  ">
            <div class=" "><h4 class="pl-3 pt-4 mb-1 " style="color: grey">Select resume To Update</h4></div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-5">
            <a class="btn btn-info ml-5 mt-4 mb-1" style="border-radius: 50px" href="{{url_for('admin.new_resume')}}"><small>ADD RESUME</small><i class="fas fa-plus fa-lg pl-2"></i></a>
        </div>
    </div>
    
        
    </div>
</section>
<div class="fluid-container px-5 py-3">
    <table id="table_id" class="display">
    <thead>
        <tr>
            <th style="width: 35%">Name</th>
            <th style="width: 35%">Posted Date</th>
            <th style="width: 15%">Delete</th>
            {% if current_user.isAdmin %}
                <th style="width: 15%">Active</th>
            {% endif %}
            
        </tr>
    </thead>
    <tbody>
        {% for resume in resumes %}
        <tr>
            <td><a style="color: black" href="{{url_for('admin.update_resume', resume_id=resume.id)}}">{{resume.name|title}}</a></td>
            <td>{{resume.posted_date}}</td>
            <td><a href="{{url_for('admin.delete_resume', resume_id=resume.id)}}"><i class="fas fa-trash" style="color: black"></i></a></td>
            {% if current_user.isAdmin %}
                {% if resume.active == False %}
                    <td><i class="fas fa-eye-slash" style="color: black"></i></td>
                
                {%else%}
                    <td><i class="fas fa-eye" style="color: black"></i></td>
                {% endif %}
            {% endif %}

        </tr>

        {%endfor%}
    </tbody>
</table>
</div>
{% endblock %}

{% block script%}
{{ super() }}
<script>
    $(document).ready( function () {
    $('#table_id').DataTable();
} );
</script>
{% endblock %}

